@font-face {
    font-family: "Lato";
    src: url(/fonts/Lato/Lato-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    user-select: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0 auto;
    color: white;
}


/* Video-player styles start*/

.player {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #298ED3;
    background-color: #E89AA6;
    background-image: url(/img/background/blur.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.player__wrapper {
    // position: relative;
    overflow-x: hidden;
    max-width: 1280px;
    // max-height: 720px;
    margin: 10px;
}

.player__video_container {
    display: flex;
    width: 100%;
    position: relative;
}

.video {
    width: 100%;
    z-index: 5;
}

.video:hover {
    cursor: pointer;
}

.video:active {
    opacity: .8;
    filter: alpha(opacity=80) black;
}

.duration__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.duration__control:hover,
.volume__control:hover {
    cursor: pointer;
}

.duration__control>div,
.volume__control>div {
    display: flex;
    align-items: center;
}

.duration__progress-background,
.volume__progress-background {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4px;
    background: #282839;
    border-radius: 50px;
}

.volume__progress-background {
    width: 100px;
}

.duration__progress-bar,
.volume__progress-bar {
    width: 0%;
    height: 4px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50px;
    filter: drop-shadow(0px 1px 12px rgba(66, 66, 73, 0.25));
}

.duration__control-circle,
.volume__control-circle {
    z-index: 5;
    width: 18px;
    height: 18px;
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50px;
}

.player__control_duration>div {
    position: absolute;
    // bottom: 65px;
    bottom: 20px;
    z-index: 10;
}

.player__control_duration>div:hover {
    cursor: pointer;
}

.player__control_duration>div:first-child {
    padding-left: 10px;
    left: 0%;
    transform: translateX(-30px);
}

.player__control_duration>div:last-child {
    padding-right: 10px;
    right: 0%;
    transform: translateX(30px);
}

.player__control_duration>div:active {
    opacity: .5;
    filter: alpha(opacity=50) black;
}

.player__wrapper:hover .player__control_duration>div:first-child,
.player__wrapper:hover .player__control_duration>div:last-child {
    transform: translateX(0);
}

.player__control {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    transform: translateY(-100%) translateY(-20px)
}

.player__wrapper:hover .player__control {
    transform: translateY(0);
}

.player__control_wrapper1,
.player__control_wrapper2 {
    display: flex;
    align-items: center;
}

.player__control>.player__control_wrapper1>div,
.player__control>.player__control_wrapper2>div {
    margin-right: 10px;
    font-size: 26px;
}

.player__control>.player__control_wrapper1>div:hover,
.player__control>.player__control_wrapper2>div:hover {
    cursor: pointer;
}

.player__control>.player__control_wrapper1>div:active,
.player__control>.player__control_wrapper2>div:active {
    opacity: .5;
    filter: alpha(opacity=50) black;
}

.player__control>.player__control_wrapper1>div:last-child,
.player__control>.player__control_wrapper2>div:last-child {
    margin-right: 0px;
}

.player__control>.player__control_wrapper1>.playing-time {
    font-size: 18px;
}

.icon_player-rate {
    transition: .5s all linear;
}


/* Column change speed styles start*/

.speed__progress-background {
    right: 0;
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 50px;
    background: #282839;
    filter: alpha(opacity=50) black;
    border-radius: 5px;
    transform: translateX(100%);
    transition: 1s all;
    mix-blend-mode: screen;
}

.speed__progress-background:hover {
    cursor: pointer;
}

.opened {
    transform: translateX(0);
    transition: 1.5s all;
}

.funny__column-speed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 10;
    width: 100%;
    background: linear-gradient(180deg, #3f87a6, #ebf8e1, #E89AA6, #ebf8e1, #3f87a6);
    background-size: 100% 400%;
    border-radius: 5px;
    transition: 1s all;
}

.funny__column-speed:hover {
    animation: animate 10s linear infinite;
    cursor: pointer;
}

@keyframes animate {
    0% {
        background-position: 0 400%;
    }
    100% {
        background-position: 0 0;
    }
}

.speed-choose {
    font-size: 0;
    transition: 1s all;
}

.speed__progress-background.opened .speed-choose {
    font-size: 16px;
    transition: 1s all;
}


/* Column change speed styles end*/


/* Video-player styles end*/

@media screen and (max-width: 375px) and (min-width: 320px) {
    /* Video-player styles start*/
    .player__control_speed {
        right: 75px;
        margin-bottom: 25px;
    }
    .player__control_duration>div {
        bottom: 55px;
    }
    .volume__progress-background {
        width: 85px;
    }
    .player__control>.player__control_wrapper1>div,
    .player__control>.player__control_wrapper2>div {
        margin-right: 5px;
        font-size: 22px;
    }
    .player__control>.player__control_wrapper1>.playing-time {
        font-size: 17px;
    }
    /* Video-player styles end*/
    .opened {
        font-size: 14px;
        width: 70px;
        transition: .5s all;
    }
}

.rotated {
    transform: rotate(-90deg);
    transition: .5s all linear;
}

.active {
    display: flex;
    justify-content: space-between;
}

.active::before {
    content: "\f00c";
    font-family: "FontAwesome";
}

.default-value {
    color: yellowgreen;
}

.maximum-value {
    color: red;
}

.hidden {
    display: none;
}

.block {
    display: block;
}